.dsp-editor {
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    position: relative;
}

.reactflow-wrapper {
    flex: 1;
    height: 100%;
    margin-left: 280px;
}

.dsp-editor:has(.toolbar.collapsed) .reactflow-wrapper {
    margin-left: 50px;
}
