.dsp-editor {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.reactflow-wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
}