.floating-windows-manager {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 999;
}

.floating-windows-manager > * {
    pointer-events: auto;
}