* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  background: var(--bg-primary);
  color: var(--text-primary);
}
