html,
body,
#app,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  transition: background-color 0.3s ease;
}

body {
  background-color: #f9fafb;
}

body.dark-theme {
  background-color: #111827;
}

* {
  box-sizing: border-box;
}